<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trifactor.css">
    <title>Trifactor</title>
</head>
<body>
    <div class="Main">
       <h1 class="tri">TriFactor</h1> 
       <P class="p1">Simplify your bearing capacity calculation.</P>
      <p class="p2">Trifactor helps you determine bearing capacity factors </p>
       <p class="p3">N<sub>c</sub>, N<sub>q</sub>,and N<sub>y</sub> with various methods.</p> 
       <button class="get"><a class="a2" href="trifactor2.html">GET STARTED</a></button>
    </div>
    
