<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='trifactor.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <title>TriFactor</title>
</head>
<body>
    <div class="Main">
        <h1 class="tri">TriFactor</h1> 
        <p class="p1">Simplify your bearing capacity calculations.</p>
        <p class="p2">TriFactor helps you determine bearing capacity factors </p>
        <p class="p3">N<sub>c</sub>, N<sub>q</sub>, and N<sub>&gamma;</sub> with various methods.</p> 
        <button class="get"><a class="a2" href="{{ url_for('calculate') }}">GET STARTED</a></button>
    </div>
</body>
</html>
