<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trifactor.css">

    <title>Document</title>
</head>
<body class="bod1">
   <div class="back">
    <a href="trifactor.html"><img src="BACK.png" alt="back" class="imgg"></a>
   </div>
    <div class="con1">
        <h1 class="h1">
            TriFactor
        </h1>
       
        <div class="main1">
            <form action="#" class="f2">
                <P class="p4">
                    Supply soil data and choose your prefered method:
                </P>
                <p class="p5">
                   Angle of friction in degrees(.):
                </p>
                <input type="text" class="in1">
                <p class="p6">
                    Select your prefered method:
                </p>
            <label for="" class="label">
                <select name="Title1" id="t1">
                    <option></option>    
                    <option value="Terzaghi" class="drop">Terzaghi</option>
                    <option value="Meyerhof" class="drop">Meyerhof</option>
                    <option value="Vesic" class="drop">Vesic</option>
                    <option value="Hansen" class="drop">Hansen</option>
                    <option value="Eurocode 7" class="drop">Eurocode 7 </option>
                </select>
                
            </label>
            </form>
            <form action="#" class="f1">
                    <label for="Nc" class="N nc"> N<sub>c</sub></label>
                    <br>
                    <input type="text" class="in2" disabled>
                    <br>
                    <label for="Nq" class="N">N<sub>q</sub></label>
                    <br>
                    <input type="text" class="in2" disabled>
                    <br>
                    <label for="Ny" class="N">N<sub>y</sub></label>
                    <br>
                    <input type="text" disabled class="in2">
                   </div>
                   <button class="btn1">CALCULATE</button>
                  
              </form> 

    </div>
   
</body>
</html>